<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOW DARE YOU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <img src="{{ url_for('static', filename='angry_cat.png') }}" class="cat">

    <h1 class="angry-text">HOW DARE YOUU!</h1>

    <a href="/" class="btn">BACK</a>
</div>
<div class="hearts"></div>

<script>
    const heartsContainer = document.querySelector(".hearts");

    function createHeart() {
        const heart = document.createElement("span");
        heart.innerHTML = "❤";
        heart.style.left = Math.random() * 100 + "vw";
        heart.style.animationDuration = (3 + Math.random() * 3) + "s";
        heart.style.fontSize = (12 + Math.random() * 18) + "px";
        heart.style.opacity = Math.random();

        heartsContainer.appendChild(heart);

        setTimeout(() => {
            heart.remove();
        }, 6000);
    }

    setInterval(createHeart, 300);
</script>

</body>
</html>
